body, html {
  margin: 0;
  padding: 0;

}
.md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: gray;
}
.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}
.md-padding {
  text-decoration: none;
}

.container p{
  margin-top : 14px;

}
/*server/public/styles/style.css
server/images/gym_buddy_backgroundimage.jpg*/
body{
  /*background-image: url("/../images/homepage.jpg");*/
  background-size: 414px 736px;
  background-repeat: no-repeat;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}



.completeSearch {
  width: 100%;
}

li a {

  color: red;

  list-style-type: none;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}
