body, html {
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2){
  padding: 0 10px 0 0;
}

table.md-table td.md-cell:last-child, table.md-table th.md-column:last-child {
  padding: 0 5px 0 0;
}
md-input-container .md-input {
  width:400px;
}
.md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  /*background-color: #000099;
  color: #ff9900;*/
  background-color: grey;
  color: black;
}
md-table-container{
max-width: 100%;
}
.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
button , input, md-button{
  text-transform: lowercase;
}
.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}
.workoutNotesSelected{
    height: 150px;
    overflow: scroll;
    width: 200px;
    position: absolute;
    margin: auto;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
}
#completeTable{
  height: 450px;
  overflow-y: scroll;
}
#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}
.md-padding {
  text-decoration: none;
}

.container p{
  margin-top : 14px;

}
/*server/public/styles/style.css
server/images/gym_buddy_backgroundimage.jpg*/
body{
  /*background-image: url("/../images/homepage.jpg");*/
  background-size: 414px 736px;
  background-repeat: no-repeat;
  text-transform: lowercase;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}



.completeSearch {
  width: 100%;
}

li a {

  color: red;

  list-style-type: none;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}
