in complete workout select
<a href="#/completeworkout">Back</a>

<!-- <div>
<input class='completeSearch' type="text" ng-model="search_workout" placeholder="Search by Name, Unique Name, or Date">
</div>


<table class = "table table-responsive" ng-model="complete_table">
<thead>
  <tr>
    <th>Workout Name</th>
    <th>Unique Name</th>
    <th>Date</th>
    <th>View Details</th>
    <th>Delete</th>
  </tr>
</thead>
<tbody ng-repeat= "complete in vc.completeWorkouts | filter : search_workout">
  <tr><td>{{complete.name}}</td><td>{{complete.unique_name}}</td><td>{{complete.workout_date}}</td>
  <td><a><button ng-href="#/completeworkout/selected"ng-click="vc.getCompleteWorkoutData($index)";>O<button></a></td><td><button>X<button></td></tr>
</tbody> --> -->
