
<a href="#/user">Back</a>

<div>
</div>
<md-input-container >
       <label>search by name or date</label>
       <input ng-model="search_workout">
     </md-input-container>
<md-table-container >
  <table md-table>
    <thead md-head>
      <tr md-row>
        <th md-column md-order-by="{{complete.name}}"><span>Workout Name</span></th>
        <th md-column md-order-by="{{complete.unique_name}}"><span>Unique Name</span></th>
        <th md-column >Date</th>
        <th md-column ></th>
      </tr>
    </thead>
    <tbody md-body >
      <tr md-row ng-repeat="complete in vc.completeWorkouts | filter: search_workout | orderBy: 'workout_date' ">
        <td md-cell>{{complete.name}}</td>
        <td md-cell>{{complete.unique_name}}</td>
        <td md-cell>{{complete.workout_date | date}}</td>
        <td md-cell>
          <md-menu>
              <md-button aria-label="Open menu" class="md-icon-button" ng-click="vc.openMenu($mdMenu, $event)">
                 <md-icon md-menu-origin>more_vert</md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-click="vc.getCompleteSelectedWorkout(complete)">
                    <md-icon  md-menu-align-target>view_day</md-icon>
                    View Detail
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button  ng-click="vc.deleteCompletedWorkout(complete)">
                    <md-icon>delete</md-icon>
                    Delete
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
