
<a href="#/user">Back</a>

<div>
<input class='completeSearch' type="text" ng-model="search_workout" placeholder="Search by Name, Unique Name, or Date">
</div>


<table class = "table table-responsive">
<thead>
  <tr>
    <th>Workout Name</th>
    <th>Unique Name</th>
    <th>Date</th>
    <th>View Details</th>
    <th>Delete</th>
  </tr>
</thead>
<tbody >
  <tr ng-repeat= "complete in vc.completeWorkouts | filter : search_workout">
    <td>{{complete.name}}</td>
    <td>{{complete.unique_name}}</td>
    <td>{{complete.workout_date}}</td>
  <td><md-button ng-click="vc.getCompleteSelectedWorkout(complete)">
    <md-icon class="material-icons">view_day</md-icon></md-button></td>
  <td><md-button ng-click="vc.deleteCompletedWorkout(complete)"><md-icon class="material-icons">delete</md-icon></md-button></td></tr>
</tbody>

</table>
