in create excercise
<a href="#/user">Back</a>

<select placeholder="Select Class" ng-model="cc.currentClass" ng-options="specificClass.class for specificClass in cc.classes"></select>


<div> <input type="text" ng-model="exerciseName" placeholder="Enter Exercise Name Here" class="exerciseInput"></div>


<button ng-click="cc.postExercises(cc.currentClass, exerciseName)">Create Custom Exercise</button>




<table class = "table table-responsive">
<thead>
  <tr>
    <th>Exercise Name</th>
    <th>Class</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
</thead>
<tbody >
  <tr ng-repeat= "exercise in cc.exerciseList">
    <td>{{exercise.exercise_name}}</td>
    <td>{{exercise.class}}</td>
    <td><button>Edit</button></td>
    <td><button>Delete</button></td>

</tbody>

</table>
