
<a href="#/user">Back</a>

<div><input ng-model="exercise.workout_name" ng-init="exercise.workout_name = 'Enter Workout Name Here'"></div>
<table class = "table table-responsive">
<thead>
  <tr>
    <th>Select Exercise from Drop down list</th>
    <th>Enter # of Reps per Set</th>
  </tr>
</thead>
<tbody >
  <tr>
    <td><select ng-model="exercise.workout_one" ng-options="exercise.exercise_name for exercise in cw.exerciseList">
    </select></td>

    <td><input type="number" ng-model="exercise.reps_one" ></td>
  </tr>
  <tr >
    <td ><select ng-model="exercise.workout_two" ng-options="exercise.exercise_name for exercise in cw.exerciseList">
    </select></td>

    <td><input type="number" ng-model="exercise.reps_two" ></td>
  </tr>
  <tr>
    <td><select ng-model="exercise.workout_three" ng-options="exercise.exercise_name for exercise in cw.exerciseList">
    </select></td>

    <td><input type="number" ng-model="exercise.reps_three" ></td>
  </tr>
  <tr>
    <td><select ng-model="exercise.workout_four" ng-options="exercise.exercise_name for exercise in cw.exerciseList">
    </select></td>

    <td><input type="number" ng-model="exercise.reps_four" ></td>
  </tr>
  <tr>
    <td><select ng-model="exercise.workout_five" ng-options="exercise.exercise_name for exercise in cw.exerciseList">
    </select></td>

    <td><input type="number" ng-model="exercise.reps_five" ></td>
  </tr>
  <tr>
    <td><select ng-model="exercise.workout_six" ng-options="exercise.exercise_name for exercise in cw.exerciseList">
    </select></td>

    <td><input type="number" ng-model="exercise.reps_six" ></td>
  </tr>
</tbody>

</table>





<div><button ng-click="cw.createNewWorkout(exercise)">Create New Workout</button></div>
<div><button ng-click="cw.goToEditWorkouts()">Edit/Delete Workouts</button></div>
