

<div class="padcontainer" layout="column" layout-align="center center">

  <md-input-container>
    <label>Select a Class</label>
    <md-select ng-model="cc.currentClass">
      <md-option><em>None</em></md-option>
      <md-option ng-repeat="specificClass in cc.classes" ng-value="specificClass.class">
        {{specificClass.class}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container >
    <label>enter exercise name</label>
    <input ng-model="exerciseName">
  </md-input-container>
</div>

<div layout="row" layout-align="center center" class="exercisebuttons">
  <md-button flex="30" style="height:100px" ng-click="cc.postExercises(cc.currentClass, exerciseName)"><md-icon id="control">control_point</md-icon></md-button>

  <md-button flex="30" style="height:100px" ng-click="cc.editExercises()"><md-icon id="control">edit</md-icon></md-button>
</div>


<div id="footer">
  <a href="#/user"><i class="material-icons">replay</i></a>
</div>
