in create workout
<a href="#/user">Back</a>


<table class = "table table-responsive">
<thead>
  <tr>
    <th>Select Exercise from Drop down list</th>
    <th>Enter # of Reps per Set</th>
  </tr>
</thead>
<tbody >
  <tr >
    <td class="exercise"><select >
    <option >test</option></select></td>

    <td><input type="number" value= 10></td>
  </tr>
  <tr >
    <td class="exercise"></td>

    <td><input type="number" value= 10></td>
  </tr>
  <tr >
    <td class="exercise"></td>

    <td><input type="number" value= 10></td>
  </tr>
  <tr >
    <td class="exercise"></td>

    <td><input type="number" value= 10></td>
  </tr>
  <tr >
    <td class="exercise"></td>

    <td><input type="number" value= 10></td>
  </tr>
  <tr >
    <td class="exercise"></td>

    <td><input type="number" value= 10></td>
  </tr>
</tbody>

</table>





<button ng-click="cw.createNewWorkout()">Create New Workout</button>
