<a href="#/createexercise">Back</a>
<div class="">Select a class to filter exercises</div>
<select placeholder="Select Class" ng-model="cc.currentClass" ng-options="specificClass.class for specificClass in cc.classes" ></select>


<table class = "table table-responsive">
<thead>
  <tr>
    <th>Exercise Name</th>
    <th>Class</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
</thead>
<tbody > <!-- class is the property of exercise that we are filtering on-->
  <tr ng-repeat= "exercise in cc.exerciseList | filter: {class:cc.currentClass.class}">
    <td><input ng-model="exercise.exercise_name"></td>
    <td><input ng-model="exercise.class"></td>
    <td><button ng-click="cc.editExercise(exercise)">Edit</button></td>
    <td><button ng-click="cc.deleteExercise(exercise)">Delete</button></td>

</tbody>

</table>

<md-menu>
    <md-button aria-label="Open menu" class="md-icon-button" ng-click="vc.openMenu($mdMenu, $event)">
       <md-icon md-menu-origin>more_vert</md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ng-click="vc.getCompleteSelectedWorkout(complete)">
          <md-icon  md-menu-align-target>view_day</md-icon>
          View Detail
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button  ng-click="vc.deleteCompletedWorkout(complete)">
          <md-icon>delete</md-icon>
          Delete
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
