<div ng-include="'views/partials/sidenav.html'"></div>
<div class='workoutnameinput '>
<md-input-container>
  <label>Select a Class</label>
  <md-select ng-model="cc.currentClass.class">
    <md-option><em>None</em></md-option>
    <md-option ng-repeat="specificClass in cc.classes" ng-value="specificClass.class">
      {{specificClass.class}}
    </md-option>
  </md-select>
</md-input-container>
</div>

<md-table-container >
  <table md-table >
    <thead md-head>
      <tr md-row>
        <th md-column><span>Exercise Name</span></th>
        <th md-column><span>Class</span></th>
        <th></th>
      </tr>
    </thead>
    <tbody md-body >
      <tr ng-repeat= "exercise in cc.exerciseList | filter: {class:cc.currentClass.class}">
        <td md-cell><span editable-text="exercise.exercise_name" e-name="exercise_name" e-form="rowform">{{exercise.exercise_name}}</span></td>
        <td md-cell><span editable-select="exercise.class" e-name="class" e-form="rowform" e-ng-options="specificClass.class as specificClass.class for specificClass in cc.classes">{{exercise.class}}</span></td>
        <td>

        <form editable-form name="rowform" onbeforesave="saveUser()" onaftersave="cc.editExercise(exercise)"ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == exercise">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary" ><md-icon>done</md-icon></button>
          <button type="button" ng-disabled="rowform.$waiting" class="btn btn-danger" ng-click="rowform.$cancel()" class="btn btn-default"><md-icon>clear</md-icon></button>
        </form>
        <md-menu ng-show="!rowform.$visible">
          <md-button aria-label="Open menu" class="md-icon-button" ng-click="cc.openMenu($mdMenu, $event)">
             <md-icon md-menu-origin>more_vert</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="rowform.$show()">
                <md-icon  md-menu-align-target>edit</md-icon>
                Click to Edit
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button  ng-click="cc.deleteExercise(exercise)">
                <md-icon>delete</md-icon>
                Delete
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<div id="footer">
<a href="#/createexercise"><i class="material-icons">replay</i></a>
</div>
