<div class="container">

  <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    <form ng-submit="lc.login()">
      <div>
        <md-input-container class="md-icon-float md-block input">
          <!-- Use floating label instead of placeholder -->
          <label>UserName</label>
          <input style="text-transform:none;"ng-model="lc.user.username" type="text">
        </md-input-container>
      </div>
      <div>
        <md-input-container class="md-icon-float md-block" id="input">
          <!-- Use floating label instead of placeholder -->
          <label>Password</label>
          <input type="password" ng-model="lc.user.password" type="text">
        </md-input-container>
      </div>
      <div layout="column">
        <input class="btn btn-default" type="submit" name="submit" value="Log In">
        <div class="spacer">  </div>
        <a  style="text-align:center"href="#register">New to gym buddy? Register here</a>
      </div>
    </form>
  </div>
