  <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
  
<div layout="column"layout-align="space-between center" class="userhome md-display-1">
  <div><md-button class="md-raised md-primary" <a href="#/workout">Select a workout</a></md-button></div>
  <div><md-button  class="md-raised md-primary"<a href="#/createworkout">Create a Workout</a></md-button></div>
  <div><md-button class="md-raised md-primary" <a href="#/createexercise">Create an Exercise</a></md-button></div>
  <div><md-button  class="md-raised md-primary"<a href="#/completeworkout">View Completed Workouts</a></md-button></div>
</div>


<div class="container">
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div>
