<style>
.md-button{
  width:240px;
}
</style>

<div ng-include="'views/partials/sidenav.html'"></div>
<h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>


<div id="motivation">
  {{uc.quote[0].quote}}
</div>


<div layout="column"layout="center"class="homepage">
  <div>
  <a href="#/workout">
    <md-button class="md-raised md-primary" md-no-ink class="md-primary">Select a workout</md-button>
  </a>
  </div>
  <div>
  <a href="#/createworkout">
    <md-button class="md-raised md-primary" md-no-ink class="md-primary">Create a Workout</md-button>
  </a>
</div>
  <div>
  <a href="#/createexercise">
    <md-button class="md-raised md-primary" md-no-ink class="md-primary"> Create an Exercise</md-button>
  </a>
  </div>
  <div>
  <a href="#/completeworkout">
    <md-button class="md-raised md-primary"  md-no-ink class="md-primary"> View Completed Workouts</md-button>
  </a>
    </div>
</div>
