
<div layout="column" layout-align="center start">
<md-input-container>
  <label>Select Workout here</label>
  <md-select ng-model="wc.currentWorkout">
    <md-option><em>None</em></md-option>
    <md-option  ng-repeat="workout in wc.workouts" ng-value="workout">
      {{workout.name}}
    </md-option>
  </md-select>
</md-input-container>

<md-input-container>
  <label>Enter Unique Name</label>
  <input ng-model="wc.currentWorkout.uniqueWorkout">
</md-input-container>
</div>

<md-datepicker ng-model="wc.currentWorkout.workout_date" md-placeholder="Enter date"></md-datepicker>

<table md-table ng-if="wc.currentWorkout">
<thead md-head>
  <tr md-row>
    <th md-column>Exercise Name</th>
    <th md-column>Weight</th>
    <th md-column>Reps</th>
    <th md-column>Sets</th>
  </tr>
</thead>

    <!-- This repeat goes through all workouts brought from server and displays to the table, ng-if selects the current workout selected in drop down list -->
  <tbody md-body>
    <tr md-row>
      <td md-cell>{{wc.currentWorkout.exercise_one}}</td>
      <td md-cell>
        <md-input-container class="weightinput">
          <label>amt lifted</label>
          <input type ='number'class="weightinput"ng-model="wc.currentWorkout.weight_one">
        </md-input-container>
      <td md-cell>{{wc.currentWorkout.reps_one}}</td>
      <td md-cell><input type="checkbox"><input type="checkbox"><input type="checkbox"></td></tr>
    <tr md-row>
      <td md-cell>{{wc.currentWorkout.exercise_two}}</td>
      <td md-cell><md-input-container class="weightinput">
        <label>amt lifted</label>
        <input type ='number'class="weightinput"ng-model="wc.currentWorkout.weight_two">
      </md-input-container></td>
      <td md-cell>{{wc.currentWorkout.reps_two}}</td>
      <td md-cell><input type="checkbox"><input type="checkbox"><input type="checkbox"></td></tr>
    <tr md-row>
      <td md-cell>{{wc.currentWorkout.exercise_three}}</td>
      <td md-cell><md-input-container class="weightinput">
        <label>amt lifted</label>
        <input type ='number'class="weightinput"ng-model="wc.currentWorkout.weight_three">
      </md-input-container></td>
      <td md-cell>{{wc.currentWorkout.reps_three}}</td>
      <td md-cell><input type="checkbox"><input type="checkbox"><input type="checkbox"></td></tr>
    <tr md-row>
      <td md-cell>{{wc.currentWorkout.exercise_four}}</td>
      <td md-cell><md-input-container class="weightinput">
        <label>amt lifted</label>
        <input type ='number'class="weightinput"ng-model="wc.currentWorkout.weight_four">
      </md-input-container></td>
      <td md-cell>{{wc.currentWorkout.reps_four}}</td>
      <td md-cell><input type="checkbox"><input type="checkbox"><input type="checkbox"></td></tr>
    <tr md-row>
      <td md-cell>{{wc.currentWorkout.exercise_five}}</td>
      <td md-cell><md-input-container class="weightinput">
        <label>amt lifted</label>
        <input type ='number'class="weightinput"ng-model="wc.currentWorkout.weight_five">
      </md-input-container></td>
      <td md-cell>{{wc.currentWorkout.reps_five}}</td>
      <td md-cell><input type="checkbox"><input type="checkbox"><input type="checkbox"></td></tr>
    <tr md-row>
      <td md-cell>{{wc.currentWorkout.exercise_six}}</td>
      <td md-cell><md-input-container class="weightinput">
        <label>amt lifted</label>
        <input type ='number'class="weightinput"ng-model="wc.currentWorkout.weight_six">
      </md-input-container></td>
      <td md-cell>{{wc.currentWorkout.reps_six}}</td>
      <td md-cell><input type="checkbox"><input type="checkbox"><input type="checkbox"></td></tr>
  </tbody>
</table>

<div layout="column" layout-align="center center">

<md-input-container class="workoutNotes">
       <label>Workout Notes</label>
       <textarea ng-model="wc.currentWorkout.workoutNotes" md-maxlength="150" rows="5" md-select-on-focus></textarea>
</md-input-container>
<md-input-container>
<md-button class="md-raised" ng-click= "wc.postCompleteWorkout(wc.currentWorkout)">Complete Workout</md-button>
</md-input-container>
</div>

<div id="footer">
<a href="#/user"><i class="material-icons">replay</i></a>
</div>
